<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <title>Rss To Mail - main</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- styling -->
    <link rel="stylesheet" href="main/style.css">
</head>

<body>
    <div id="header">
        <button id="sign-out" class="fas fa-sign-out-alt"> sign out</button>
        <button id="add-costum-feed">➕ Add Feed</button>
        <h2>RSS TO MAIL</h2>
        <h3 id="Hello" dir="rtl"><img src="/images/profile-picture.png"/><span id="content"><%=time%>, <%=name%>!</span><span id="info"><%=email.length > 20 ? email.slice(0, 20) + '...' : email;%></span> | <a href="/unsubscribe" id="unsubscribe">ביטול כל המינויים</a></h3>
        <small><p dir="rtl" id="subscribersCount">(יש לך <span><%=subscribersCount%></span> מינויים)</p></small>
    </div>
    <div id="feeds"><button id="refresh-feeds" class="fas fa-sync"> refresh</button></div>
    <a class="credit-freepik" href='https://www.freepik.com/vectors/background'>Background vector created by freepik -
        www.freepik.com</a>
</body>
<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- awesome-notifications -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-notifications/3.1.0/style.min.css"
    integrity="sha512-OFAsS5R1Fx+HUK9/h/ChqnFDrJGI0Y7nO05gg9E+Mv1UAzvAMvQdtOuPLhgPgDPHOgKWBvbovxT3eQSCr5hlLw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesome-notifications/3.1.0/index.var.min.js"
    integrity="sha512-gS8jKzzlhaUACXtBbUmj9/ITyZEAMM5TNwcL2Y226Xh6J/xH8mYzm6C/tHFkRVbi+tV1uyW7pIMSTehhBt6sBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- sweetalert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- script -->
<script>
    axios.defaults.baseURL = `/api`;
</script>
<!--  -->
<script src="main/script.js"></script>

</html>